<div class="index-right_left_div">
  Home
</div>
<div class="index-right_left_div">
  来自五湖四海的小众兄弟们，这里你们可以尽情的交流学习，享受生活的乐趣，分享你们的喜怒哀乐！
</div>
<div class="index_main_post index-right_left_div">
  <h2 >社区精华帖</h2>
   <%=render 'posts_list',posts:@posts%>
</div>
